TUPLE

In [2]:
numbers = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
print(len(numbers))

21

In [3]:
print(numbers[::-1])

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [4]:
print(numbers[9])

58

In [5]:
print(numbers.count(55))

5

In [6]:
print(numbers[6:14])

(49, 51, 51, 58, 50, 55, 53, 57)

LIST

In [10]:
Numbers = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55,]
Numbers.sort(reverse=True)
print(Numbers)

[58, 57, 57, 55, 55, 55, 55, 55, 53, 53, 51, 51, 50, 50, 49, 48, 47, 46, 46, 45, 45]

In [13]:
print(Numbers.index(58))

0

In [14]:
print(Numbers.count(51))

2

In [20]:
print(Numbers[6:14])

[55, 55, 53, 53, 51, 51, 50, 50]

AttributeError: 'list' object has no attribute 'inserts'

In [26]:
f = [89,85,36,95,45,78]

[58, 57, 57, 55, 55, 55, 55, 55, 53, 53, 51, 51, 50, 50, 49, 48, 47, 46, 46, 45, 45, 89, 85, 36, 95, 45, 78, 89, 85, 36, 95, 45, 78]

DICTIONARY

In [ ]:
records = {
    'Name': 'Arsenal FC' 'Location': 'London''Managers Name': 'Mikel Arteta''Club Captain': 'Martin Odegaard''Networth': '3.6 Billion Dollars' 'Club Information': '4-2-3-1'
    'Name': 'Manchester United FC' 'Location': 'Manchester' 'Managers Name': 'Erik Ten Hag' 'Club Captain': 'Harry Maguire' 'Networth': '4.6 Billion Dollars' 'Club Formation':'4-4-2'
    'Name': 'Liverpool FC' 'Location': 'North-West England' 'Managers Name': 'Jurgen Klopp' 'Club Captain': 'Jordan Henderson' 'Networth': '4.45 Billion Dollars' 'Club Formation': '4-3-3'
    'Name': 'Manchester City FC' 'Location': 'Manchester' 'Managers Name': 'Pep Guardiola' 'Club Captain': 'Iikay Gundogan' 'Networth': '4.25 Billion Dollars' 'Club Formation': '4-2-3-1'
    'Name': 'Bayern Munich FC' 'Location': 'Munich,Germany' 'managers Name': 'Thomas Tuchel' 'Club Captain': 'Manuel Neuer' 'Networth': '4.275 Billion Dollars' 'Club Formation': '4-2-3-1'
    'Name': 'Real Madrid FC' 'Location': 'Madrid,Spain' 'Managers Name': 'Carlo Ancelotti'  'Club Captain': 'Karim Benzema' 'Networth': '5.1 Billion Dollars' 'Club Formation': '4-3-3'
    'Name': 'Paris Saint Germain FC' 'Location': 'Paris,France' 'Managers Name': 'Christopher Galtier' 'Club Captain': 'Kylian Mbappe' 'Networth': '3.2 Billion Dollars' 'Club Formation': '4-3-2-1'
    'Name': 'Juventus FC' 'Location': 'Turin,Italy' 'Managers Name': 'Massimiliano Allegri' 'Club Captain': 'Leonardo Bonucci'  'Networth': '0.92 Billion Dollars' 'Club Formation': '4-3-3'
    'Name': 'Napoli FC' 'Location': 'Naples City,Italy' 'Managers Name': 'Luciano Spaletti' 'Club Captain': 'Giovanni Di Lorenzo' 'Networth': '543 Million Euros' 'Club Formation': '4-1-4-1'
    'Name': 'Barcelona FC' 'Location': 'Barcelona City,Spain' 'Managers Name': 'Xavi Hernandez' 'Club Captain': 'Sergio Busquets' 'Networth': '5 Billion Dollars' 'Club Formation': '4-3-3'    
}