FUNCTIONS

In [1]:
GRADE POINT

70 to 100 GRADE A

60 to 69.9 GRADE B

50 to 59.9 GRADE c

40 to 49.99 GRADE D

SyntaxError: invalid syntax (2233267928.py, line 1)

In [2]:
def gradecalculator():
    subject1 = float(input('English Score:'))
    subject2 = float(input('Math Score:'))
    subject3 = float(input('Chemistry Score:'))
    subject4 = float(input('Physics Score:'))
    subject5 = float(input('Biology Score:'))
    subject6 = float(input('Economics Score:'))
    subject7 = float(input('Geography Score:'))
    subject8 = float(input('Agricultural Score:'))
    gradepoint = sum(Subject1,Subject2,Subject3,Subject4,Subject5,Subject6,Subject7,Subject8)/len(Subject1,Subject2,Subject3,Subject4,Subject5,Subject6,Subject7,Subject8)

SyntaxError: invalid syntax (285310716.py, line 10)

In [4]:
def avg(*num):
    average = sum(num)/len(num)
    print(f'The average of the following values {num} is {average}')
          
avg(14,45,14,85,96,32,52,58,79,45)

The average of the following values (14, 45, 14, 85, 96, 32, 52, 58, 79, 45) is 52.0

In [9]:
def records(**details):
    for key, values in details.items():
        print(key, '::', values)
records(Name = 'Adebisi Ojo',Age = 28,Gender = 'Male')

Name :: Adebisi Ojo
Age :: 28
Gender :: Male

In [12]:
records(Name = ['Adebisi Ojo', 'Akpan Joy'],Age = [28,45],Gender =['Male','Female'],Position =['Chief Accountant','Human Resource'])

Name :: ['Adebisi Ojo', 'Akpan Joy']
Age :: [28, 45]
Gender :: ['Male', 'Female']
Position :: ['Chief Accountant', 'Human Resource']

In [13]:
#LAMBDA FUNCTION

In [14]:
import math
(lambda num:math.sqrt(num))(int(input('Enter the value for num')))

Enter the value for num56

7.483314773547883

In [16]:
(lambda password:f'{password} ends with a digit 5 or 8' if (password.endswith('5') or password.endswith('8')) else f'{password} does not ends with a digit 5 or 8')(input('Enter Password:'))

Enter Password:5

'5 ends with a digit 5 or 8'