# TUPLE
### TUPLE IS UNCHANGEABLE
### TUPLE IS DENOTED ()
### TO ACCESS VALUE FROM A TUPLE WE USE THE INDEX LOCATION
### NOTE::: ANY OF THE ITERABLE OBJECT IS NOT LIMITED TO ONE DATA TYPE

In [1]:
numbers = (45,87,96,85,93,90,70,71,72,85,45,46,49,42,40,89)
print(len(numbers))

16

In [2]:
print(type(numbers))

<class 'tuple'>

In [3]:
print(numbers[8])# retriving  a value from our tuple using the forward index location

72

In [4]:
print(numbers[-7])# retriving  a value from our tuple using the backward index location

85

In [5]:
print(100 in numbers)# using the membership operator to check if a value exist in our tuple

False

In [6]:
print(numbers.count(85))# we use the count function to retrive the frequency of a value

2

In [7]:
print(numbers.index(45))# we use the index function to retrive the location of a value

0

In [8]:
print(numbers[4:10])# retriving range of value from a starting location to stoping location

(93, 90, 70, 71, 72, 85)

In [9]:
print(numbers[::-1])# reversing the values in our tuple

(89, 40, 42, 49, 46, 45, 85, 72, 71, 70, 90, 93, 85, 96, 87, 45)

# LIST
### LIST IS CHANGEABLE
### LIST IS DENOTED {}
### TO ACCESS VALUE FROM A LIST WE USE THE INDEX LOCATION
### NOTE::: ANY OF THE ITERABLE OBJECT IS NOT LIMITED TO ONE DATA TYPE

In [11]:
items = ['plate ,' 'cup ,' 'pen  ,' 'lemon ,' 'cherry']

In [13]:
items.append( 'pear') # adding a new value to the end of the existing list
print(items)

['plate ,cup ,pen  ,lemon ,cherry', 'pear', 'pear']

In [14]:
items.insert(5,'pencil')# adding a new value to a specified location in the list
print (items)

['plate ,cup ,pen  ,lemon ,cherry', 'pear', 'pear', 'pencil']

In [15]:
f = [ 'banana', 'Grape' , 'Lemon', 'Apple']
items.extend(f)# adding a new value from another list or turple to the existing list
print (items)

['plate ,cup ,pen  ,lemon ,cherry', 'pear', 'pear', 'pencil', 'banana', 'Grape', 'Lemon', 'Apple']

In [16]:
items.pop(5)#droping of a value using its index location
print(items)

['plate ,cup ,pen  ,lemon ,cherry', 'pear', 'pear', 'pencil', 'banana', 'Lemon', 'Apple']

In [17]:
items.remove('pear')#dropping of a value by specifing the value itself
print(items)

['plate ,cup ,pen  ,lemon ,cherry', 'pear', 'pencil', 'banana', 'Lemon', 'Apple']

In [18]:
items.sort()#sort will arrange the value in ascending order
print(items)

['Apple', 'Lemon', 'banana', 'pear', 'pencil', 'plate ,cup ,pen  ,lemon ,cherry']

In [19]:
items.sort(reverse=True)#sort with reverse will arrange the value in descending order
print(items)

['plate ,cup ,pen  ,lemon ,cherry', 'pencil', 'pear', 'banana', 'Lemon', 'Apple']

In [20]:
items_copy = items.copy()
print(items_copy)

['plate ,cup ,pen  ,lemon ,cherry', 'pencil', 'pear', 'banana', 'Lemon', 'Apple']

In [21]:
items_copy.clear()
print(items_copy)

[]

In [22]:
del(items_copy)
print(items_copy)

NameError: name 'items_copy' is not defined

In [23]:
DICTIONARY
DICTIONARY IS CHANGEABLE
DICTIONARY IS DENOTED {}
TO ACCESS VALUE FROM A LIST WE USE THE INDEX LOCATION¶
NOTE::: ANY OF THE ITERABLE OBJECT IS NOT LIMITED TO ONE DATA TYPE

SyntaxError: invalid syntax (2154365706.py, line 2)

In [24]:
DICTIONARY
DICTIONARY IS CHANGEABLE
DICTIONARY IS DENOTED {}
TO ACCESS VALUE FROM A LIST WE USE THE INDEX LOCATION¶
NOTE::: ANY OF THE ITERABLE OBJECT IS NOT LIMITED TO ONE DATA TYPE

SyntaxError: invalid syntax (2154365706.py, line 2)

In [27]:
records = {
    'Name': 'Job Ford',
    'Gender': 'Male' ,
    'Age ': 58
}
print(records["Name"])

Job Ford

In [28]:
print(records.keys())

dict_keys(['Name', 'Gender', 'Age '])

In [29]:
print(records.values())

dict_values(['Job Ford', 'Male', 58])

In [30]:
print(records.get('Gender'))

Male

In [31]:
records['Height'] = 1.90
print(records)

{'Name': 'Job Ford', 'Gender': 'Male', 'Age ': 58, 'Height': 1.9}

In [34]:
r = {'Age':60}
records.update(r)
print(records)

{'Name': 'Job Ford', 'Gender': 'Male', 'Age ': 58, 'Height': 1.9, 'Age': 60}

In [35]:
records.pop('Age')
print(records)

{'Name': 'Job Ford', 'Gender': 'Male', 'Age ': 58, 'Height': 1.9}

In [36]:
records.popitem()
print(records)

{'Name': 'Job Ford', 'Gender': 'Male', 'Age ': 58}

In [39]:
student_records = {
    '001':['Ade Bando', 'Male',14,'Jss2A'],
    '002':['Mary Bade', 'Female',14,'Jss2B']
    '003':['Bade Pouch', 'Male', 15, 'Jss2A']
}
student_records['002']

SyntaxError: invalid syntax (97505016.py, line 4)

In [40]:
print(student_records['002'][2])

NameError: name 'student_records' is not defined